.revFilteroptionsForm_SwitchArea_Container {
    background-color: #ffffff;
    border: 0.1em solid #ede7f6;
    border-top: none;
    padding: 0 1em 1em 1em;
}

.revFilterOptionWrapper {
    width: auto !important;
    padding: 0.2em 1em 0.2em 0;
    margin-left: 0.2em;
}

.revPageEntityFilterOptionWrapper {
    align-items: center !important;
    width: auto !important;
    margin: 0.4em 2em 0 0;
}

.revPageEntityFilterHeader {
    border-bottom: 0.1em solid #cfd8dc;
    padding: 0 1em;
    margin: 1.3em 0 0 0;
}

.revPageEntityFilterSearchInputWrapper {
    margin: 1.1em 0 0 0;
}

.revPageEntityFilterChecksFormViewWrapper {
    align-items: center !important;
    padding: 0.5em 0 0 1em;
}

.revPageEntityFilterOptionsFooterWrapper {
    padding: 1em 0 1em 0;
}
