.revChatFooterUserIconContainer {
    align-items: center !important;
    width: auto !important;
    padding: 0.2em;
    align-items: center !important;
    width: 3em !important;
    height: 3em !important;
    border: 1px solid #ede7f6;
    margin: 0 0.4em 0 0;
    border-radius: 0 22px 22px 0;

    align-items: center !important;
    width: auto !important;
    padding: 0.1em 0.4em 0.1em 0;
    align-items: center !important;
    width: 2.5em !important;
    height: 2.2em !important;
    margin: 0 0 0 0.4em;
    border-radius: 0 0 0 0;
    border-right: 0.1em solid #e8f5e9;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.revLiveChatFooterUserIcon {
    margin: 1px 0 0 1px;
}

.revNewMessageAllertBackground {
    background-color: #ffccbc;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    top: 0;
    left: 0;
    border-radius: 2px;
    opacity: 0.2;
}

.revNewMessageAllertIcon {
    top: -1px;
    left: -1px;
}

.revUserChatAreaContainer {
    top: 3.1em;
    bottom: 3.2em;
    padding-bottom: 1em;
    z-index: 2000;
}

.revMsgsViewsContainer {
    background-color: #fff;
    width: calc(100% - 2em) !important;
    border: 1px solid #ede7f6;
    padding: 1em;
    margin: 0 0 -0.1em 2em;
}

.revFooterChatMessagesViewHeaderWrapper {
    background-color: #fff;
    align-items: center !important;
    width: auto !important;
    border-bottom: solid 1px #ede7f6;
    padding: 0 2em 0.2em 1.3em;
    margin: 0 0 1em -1em;
    top: 1.2em;
}

.revFooterChatMessagesListingContainer {
    top: 2.9em;
}

.revNewFooterChatMessagesCount {
    margin-left: 1.6em;
}

.revChatFormContainer {
    background-color: #fff;
    width: calc(100% - 2em) !important;
    border: solid 1px #ede7f6;
    padding: 1em 0 0.4em 0.5em;
    margin-left: 2em;
}

.revChatAreaPointerContainer {
    background-color: #fff;
    width: auto !important;
    margin: -0.2em 0 0 3.5em;
}

.revChatAreaPointer {
    color: #ede7f6;
    font-size: 2rem;
    margin-top: -0.2em;
}

/** REV START MSG ITEM **/
.revMsgItemContainer {
    margin: 0.1em 0 0 0;
}

.revNewMsgTxt {
    margin-bottom: 0.4em;
}

.revChatMsgItemUserIcon {
    width: 2em;
    height: 2em;
}

.revMsgItemBodyContentWrapper {
    width: calc(100% - 2em) !important;
}

.revMsgItemBodyContentIconWrapper_Left {
    color: #e8f5e9;
    font-size: 1.7rem;
    width: auto !important;
    top: 0.1em;
    left: 0;
}

.revMsgItemBodyContentIconWrapper_Right {
    color: #f7f7f7;
    font-size: 1.7rem;
    width: auto !important;
    top: 0.1em;
    left: 0;
}

.revMsgItemBodyContentContainer_Received {
    background-color: #e8f5e9;
    width: auto !important;
    padding: 0.4em 0.7em 1.2em 0.7em;
    top: 0;
    left: 0;
    border-radius: 5px 8px 8px 8px;
}

.revMsgItemBodyContentContainer_Sent {
    background-color: #f7f7f7;
    width: auto !important;
    padding: 0.4em 0.7em 1.2em 0.7em;
    top: 0;
    left: 0;
    border-radius: 8px 5px 8px 8px;
}

.revChatMsgOptions {
    align-self: center;
    margin-left: auto;
}
