.revOverrideViewQuestionItemListing {
    width: calc(100% - 2em) !important;
    margin: 1em 0 1em 2em;
}

.revActivityViewListItemWrapperStyle .revFlexContainer .revQuestionListingItemContainer {
    margin-top: 0 !important;
}
