.revNewStoreItemNavHeaderArea {
    margin-top: 1.7em;
}

.revNewStoreItemDescDetailsArea {
    border-top: solid 0.1em #e8eaf6;
    padding-top: 1em;
    margin: 1em 0 2em 0;
}

.revSelectItemMainIconWrapper {
    width: calc(100% - 3.2em);
    margin: 1em 1em 0 2.2em;
}

.revNewStoreItemFormFooter {
    margin: 1em 0 0 0.2em;
}

/** REV START ADMINS **/
.revAdminsSelectionAreaContainer {
    margin: 1em 0 0 0;
}

.revAdminsSelectionAreaWrapper {
    align-items: flex-end !important;
    padding: 0.5em 0 0.7em 0.7em;
}

.revSelectedAdminMembersListingWrapper {
    align-items: flex-end !important;
    width: auto !important;
}

.revAddAdminEntityIconsWrapper {
    align-items: center !important;
    width: auto !important;
    height: 2em;
    padding: 0.4em 1em;
    margin-left: 1em;
}

.revLoggedInEntityMintConvMemberIconViewWrapper {
    align-items: center !important;
    width: auto !important;
}

.revSelectedAdminEntityIcon {
    background-color: #fff;
    width: 2.7em !important;
    height: 2em !important;
    border: 0.1em solid #ede7f6;
    padding: 0.2em;
}

.revSelectedAdminMembersIconsWrapper {
    align-items: flex-end !important;
    border-right: none;
    border-left: none;
}

.revSelectedAdminSubjectsMembersWrapper {
    align-items: center !important;
    width: auto !important;
    margin-left: 1.3em;
}

.revSelectedAdminTargetMembersDividerIcon {
    align-items: center !important;
    width: auto !important;
    margin: 0 0 0.4em 1em;
}

.revSelectMintConTabIconContainer {
    align-items: center !important;
    justify-content: center !important;
    width: auto !important;
    margin: 0.4em 0.2em 0 0;
}

.revAdminMemberDelTabWrapper {
    align-items: center !important;
    border: 0.1em dotted #bf360c;
    border-bottom: none !important;
    padding: 0.3em 0.2em;
}

.revAdminMemberDelTab {
    margin: auto;
}

.revComposeAdminMemberEntityIcon {
    border: 0.1em solid #ede7f6;
    width: 2em !important;
    height: 2em !important;
    padding: 0.1em;
}
/** REV END ADMINS **/
