.revImportContactsMenuAreaWrapper {
    align-items: center !important;
}

.revImportContactsMenuItemsWrapper {
    align-items: center !important;
    width: auto !important;
}

.revImportContactsMenuItemWrapper {
    align-items: center !important;
    width: auto !important;
    margin: 0 0 0 0.4em;
}

.revLeftShort_H_Line {
    background-color: #ede7f6;
    width: 2em;
    height: 0.1em;
}
