.revPageRightBorderedContainer .revPageHeaderAreaContainer {
    border-right: none !important;
}

.revPageViewStoreBriefInfoWrapper {
    width: calc(100% + 0.1em) !important;
    margin: 1em -0.1em 0 0;
}

.revStoreItemObjectViewContainer {
    width: calc(100% - 1em);
    margin: 0.7em 0 0 1em;
}

.revStoreObjectTopAreaWrapper {
    width: calc(100% - 1em) !important;
    margin: 1em 0 0 1em;
}

.revStoreItemObjectViewIcon {
    width: 5em;
    height: 3.8em;
    border-radius: 4px;
}

.revStoreItemObjectViewDetailsSummuryContainer {
    width: calc(100% - 6em) !important;
    margin-left: 1em;
}

.revStoreItemObjectViewItemName {
    margin-top: 0.2em;
}

.revStoreItemDetailsWrapper {
    margin-top: 0.4em;
}

.revStoreItemDetailsWrapperTtl {
    text-align: right;
    min-width: 8.3em;
    max-width: 8.3em;
}

.revStoreItemDetailsWrapperVal {
    width: calc(100% - 7em) !important;
    margin: 0.2em 0 0 0.4em;
}

.revStoreItemObjectItemDetailsContainer {
    background-color: #fafafa;
    border: 0.1em dotted #ede7f6;
    border-top: none;
    border-right: none;
    padding: 2.4em 0.5em 1em 1em;
    margin-top: -1.5em;
}

.revFlexContainerBuyOptionsWrapper {
    align-items: center !important;
    z-index: 1;
}

.revBuyItNowTab {
    text-align: center !important;
    width: 7em;
    background-color: #1565c0;
    padding: 0.2em 2em;
    border-radius: 0 0.2em 0.2em 0;
}

.revStoreItemObjectViewBuyOptionsWrapper {
    align-items: center !important;
    background-color: #ffffff;
    width: calc(100% - 7em) !important;
    border-bottom: dotted 0.1em #1565c0;
    padding-left: 1em;
    margin: 0 0 0.1em;
}

.revStoreItemObjectViewBuyOptionsDividerWrapper {
    align-items: center !important;
    width: auto !important;
    margin: 0 1em;
}

.revStoreItemDetailsReturnPolicyDetails {
    border-bottom: 0.1em solid #1565c0;
    margin: 0.7em 0;
}

.revOtherStoreItemsWrapper {
    width: calc(100% - 2em) !important;
    margin-left: 2em;
}
