.revMsgSenderContainer {
    width: calc(100% - 1.5em) !important;
    margin: 1em 0 0 1.5em;
}

.revMsgSenderContainer .revContactWrapper .revContactCenterContainer .revContactOptionsWrapper {
    border-bottom: none !important;
}

.revMessagesListContainer {
    width: calc(100% - 2em);
    border-top: 0.1em solid #f7f7f7;
    padding-top: 0.1em;
    margin: 0 0 0 2em;
}
