.revPicsAlbumWrapper {
  width: calc(100% - 2em);
  margin: 1em 0 0 2em;
}

.revFormatLongDateWrapper {
  width: calc(100% - 7.5em) !important;
  margin: .4em -.2em 0 7.6em;
  padding: .1em 1em;
  border: dotted .1em #EDE7F6;
  border-right: none;
  border-left: none;
  background-color: #FFF;
  z-index: 1;
}

.revPubDateVal {
  margin-left: .2em;
}

.revProfilePicsAlbumView {
  width: calc(100% - 2em) !important;
  margin: 1em 0 0 2em;
}